<!DOCTYPE html>
<html>
<head th:replace="fragments/general.html :: header"></head>

<body>

	<div class="container">
		<div class="col-10 offset-1 mt-5">
			<h1 class="text-center">Modifier le potager n°<span th:text="${potager.idPotager}" /> "<span th:text="${potager.nom}" />"</h1>

			<form th:action="@{/potager/mod/{id}(id=${potager.idPotager})}" th:object="${potager}" method="POST">
			
				<input type="hidden" th:field="*{idPotager}"/>
				
				<label for="nom" class="form-label">Nom :</label>
				<input type="text" th:field="*{nom}" id="nom" class="form-control" value="${potager.nom}" />
				<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" />
				<br>
			
				<label for="location" class="form-label">Localisation : </label>
				<input type="text" th:field="*{location}" id="location" class="form-control" value="${potager.location}" />
				<span th:if="${#fields.hasErrors('location')}" th:errors="*{location}" />
				<br>
				
				<label for="surface" class="form-label">Surface : </label>
				<input type="text" th:field="*{surface}" id="surface" class="form-control" value="${potager.surface}" />
				<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}" />
				<br>
				
				<label for="ville" class="form-label">Ville : </label>
				<input type="text" th:field="*{ville}" id="ville" class="form-control" value="${potager.ville}" />
				<span th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" />
				<br>
				
				<input type="submit" value="Enregistrer" class="btn btn-primary"/>
				
			</form>

		</div>
	</div>

	<script th:replace="fragments/general.html :: scriptBootstrap"></script>
</body>

</body>
</html>