<!DOCTYPE html>
<html>

<head th:insert="fragments/general.html :: header"></head>

<body>

	<div class="container">
		<div class="col-10 offset-1 mt-5">
			<h1 class="text-center">Le beau Potager</h1>

			<table class="table mt-5">
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Localisation</th>
						<th scope="col">Surface</th>
						<th scope="col">Ville</th>
						<th scope="col">Nombre de carrés</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="potager : ${list}">
						<td th:text="${potager[0].nom}"></td>
						<td th:text="${potager[0].location}"></td>
						<td th:text="${potager[0].surface}"></td>
						<td th:text="${potager[0].ville}"></td>
						<td th:text="${potager[1]}"></td>
						<td>
							<a th:href="@{/potager/{id}(id=${potager[0].idPotager})}" class="btn btn-primary">Explorer</a>
							<a th:href="@{/potager/mod/{id}(id=${potager[0].idPotager})}" class="btn btn-success">Modifier</a>
							<a th:if="${potager[1]==0}" th:href="@{/potager/del/{id}(id=${potager[0].idPotager})}" class="btn btn-danger">Supprimer</a>
							<button th:unless="${potager[1]==0}" class="btn btn-danger" disabled>Supprimer</button>
						</td>
					</tr>
				</tbody>
			</table>
			<a href="/potager/add" class="btn btn-primary">Ajouter un potager</a>
		</div>
	</div>

	<script th:insert="fragments/general.html :: scriptBootstrap"></script>
</body>

</html>