<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Listes des potagers</title>
</head>
<body>
<H1>La liste des potagers</H1>
<ul>
	<table style="border:1px solid black;">
		<tr>
			<th>Surface</th>
			<th>Type de sol</th>
			<th>Type d'expo</th>
			<th>Actions</th>
		</tr>
		<tr th:each="carre : ${carres}">
			<td><span th:text="${carre.surface}" /></td>
			<td><span th:text="${potager[0].location}" /></td>
			<td><span th:text="${potager[0].surface}" /></td>
			<td colspan="2">
				<a th:href="@{/potager/del/{id}(id=${potager[0].idPotager})}">X</a>
				<a th:href="@{/potager/mod/{id}(id=${potager[0].idPotager})}">M</a>
			</td>
		</tr>
	</table> 
</ul>
<a href="/potager/add">ajout</a>
</body>
</html>