<!DOCTYPE html>
<html>

<head th:replace="fragments/general.html :: header"></head>

<body>

	<div class="container">
		<div class="col-10 offset-1 mt-5">
			<div th:if="${error!=null}" class="alert alert-danger alert-dismissible fade show" role="alert">
				<span th:text="${error}"/>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			
			<h1 class="text-center">Ajouter un carré dans le potager n°<span th:text="${potager.idPotager}" /> "<span th:text="${potager.nom}" />"</h1>

			<form th:action="@{/carre/addToPotager/{id}(id=${potager.idPotager})}" th:object="${carre}" method="POST">
				
				<label for="surface" class="form-label">Surface :</label>
				<input type="number" th:field="*{surface}" class="form-control" />
				<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}" />
				<br>
				
				<label for="typeSol" class="form-label">Type de sol :</label>
			    <select class="form-select" th:field="*{typeSol}">
				    <option th:each="type : ${typesSol}" 
				        th:value="${type}" th:text="${type}"></option>
				</select>
				<br>
				
				<label for="typeExpo" class="form-label">Type de sol :</label>
			    <select class="form-select" th:field="*{typeExpo}">
				    <option th:each="type : ${typesExpo}" 
				        th:value="${type}" th:text="${type}"></option>
				</select>
				<br>
				
				<input type="submit" value="Enregistrer" class="btn btn-primary"/>
				
			</form>

		</div>
	</div>

	<script th:replace="fragments/general.html :: scriptBootstrap"></script>
</body>

</html>