<!DOCTYPE html>
<html>

<head th:replace="fragments/general.html :: header"></head>

<body>

	<div class="container">
		<div class="col-10 offset-1 mt-5">
			<h1 class="text-center">Modifier le carré n°<span th:text="${carre.idCarre}" /> carré dans le potager n°<span th:text="${potager.idPotager}" /> "<span th:text="${potager.nom}" />"</h1>

			<form th:action="@{/carre/mod/{id}(id=${carre.idCarre})}" th:object="${carre}" method="POST">
			
				<input type="hidden" th:field="*{idCarre}"/>
				<input type="hidden" th:field="*{potager}"/>
				
				<label for="surface" class="form-label">Surface :</label>
				<input type="number" th:field="*{surface}" id="surface" class="form-control" value="${carre.surface}" />
				<span th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}" />
				<br>
				
				<label for="typeSol" class="form-label">Type de sol :</label>
			    <select class="form-select" th:field="*{typeSol}">
				    <option th:each="type : ${typesSol}" 
				        th:value="${type}" th:text="${type}" th:selected="${type==carre.typeSol}"></option>
				</select>
				<br>
				
				<label for="typeExpo" class="form-label">Type de sol :</label>
			    <select class="form-select" name="typeExpo">
				    <option th:each="type : ${typesExpo}" 
				        th:value="${type}" th:text="${type}" th:selected="${type==carre.typeExpo}"></option>
				</select>
				<br>
				
				<input type="submit" value="Enregistrer" class="btn btn-primary"/>
				
			</form>

		</div>
	</div>

	<script th:replace="fragments/general.html :: scriptBootstrap"></script>
</body>

</html>